<nav>
  <div class="container-escuro-nav"></div>
  <div class="container-claro-nav">
    <div class="menu-container-nav">
      <a href="../../index.html">
        <img class="logo" alt="Logo Belatto" />
      </a>
      <ul>
        <li>
          <a href="../../views/grid-produtos/index.html">Produtos</a>
        </li>
        <li>
          <a href="../../views/sobre-nos/index.html">Sobre Nós</a>
        </li>
        <li>
          <a href="../../views/localizacao/index.html">Onde Encontrar</a>
        </li>
        <li>
          <a href="../../views/fale-conosco/index.html">Fale Conosco</a>
        </li>
      </ul>
      <div class="social-nav">
        <a href="https://www.instagram.com/belattosorvetes/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.instagram.com/belattosorvetes/"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com/belattosorvetes/"
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
      </div>
    </div>
  </div>
</nav>
