body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  background-color: #fff;
  padding: 40px 30px;
  box-sizing: border-box;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 50px;
}

.info-grupo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#info-icone {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f38067;
  font-size: 3rem;
  margin: 0;
}

.info-grupo h1 {
  color: #000000;
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 0;
}

.info-grupo p {
  color: #000000;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}

.divisor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3px;
  height: 600px;
  background-color: #f38067;
  margin-left: 40px;
  margin-right: 40px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0;
}

form h1 {
  color: #000000;
  font-size: 2.5rem;
  margin: 0;
}

form p {
  color: #444;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

form input,
button,
textarea {
  border-radius: 5px;
  appearance: none;
  width: 100%;
  margin-top: 20px;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

form input {
  padding: 15px 20px;
  background-color: #e5e4e2;
}

form textarea {
  height: 200px;
  padding: 15px 20px;
  background-color: #e5e4e2;
  resize: none;
  font-family: "Josefin Sans", sans-serif;
}

form button {
  width: 150px;
  height: 40px;
  background-color: #f38067;
  color: #fff;
  cursor: pointer;
  font-weight: 800;
}

form button:hover {
  background-color: #010b73;
}

@media screen and (max-width: 1000px) {
  .main {
    flex-direction: column;
    height: 85vh;
    padding: 0 30px;/
  }

  .info-container {
    align-items: start;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-bottom: 30px;
  }

  #info-icone {
    font-size: 2rem;
  }

  .info-grupo h1 {
    font-size: 2rem;
    margin-top: 20px;
  }

  .info-grupo p {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .divisor {
    flex-direction: row;
    width: 80%;
    height: 3px;
    background-color: #f38067;
    margin: 0;
  }

  .form {
    align-items: center;
    margin-top: 30px;
  }

  form h1 {
    font-size: 2rem;
  }

  form p {
    font-size: 1.2rem;
    margin-top: 15px;
  }

  form button {
    width: auto;
    height: auto;
    padding: 15px 60px;
  }
}

@media screen and (max-width: 700px) {
body {
    height: 100%;
  }

  .main {
    height: 100%;
    padding: 50px 20px;
  }
  
  .info-container {
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 25px;
  }
  
  #info-icone {
    font-size: 2rem;
  }
  
  .info-grupo h1 {
    font-size: 2rem;
    margin-top: 20px;
  }
  
  .info-grupo p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
}
