<footer>
  <div class="container-escuro">
    <div class="menu-container">
      <a href="../../index.html">
        <img class="logo" alt="Logo Belatto" />
      </a>
      <ul>
        <li>
          <a href="../../views/grid-produtos/index.html">Produtos</a>
        </li>
        <li>
          <a href="../../views/sobre-nos/index.html">Sobre Nós</a>
        </li>
        <li>
          <a href="../../views/localizacao/index.html">Onde Encontrar</a>
        </li>
        <li>
          <a href="../../views/fale-conosco/index.html">Fale Conosco</a>
        </li>
      </ul>
      <div class="social">
        <a href="https://www.instagram.com/belattosorvetes/" id="social-logo"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.instagram.com/belattosorvetes/" id="social-logo"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com/belattosorvetes/" id="social-logo"
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="container-claro">
    <p>© 2024 Belatto Sorvetes. Todos os direitos reservados.</p>
    <div class="link-dev">
      <p>Desenvolvido por</p>
      <a href="https://wa.me/5548991155026" id="rdp-detalhe-link"
        >Pedro Paulo</a
      >
    </div>
  </div>
</footer>
