<div class="rdp">
  <div class="rdp-container">
    <div class="rdp-logo-container">
      <a href="../../index.html">
        <img src="../../assets/images/logo_b1.png" alt="Logo Rodapé" />
      </a>
    </div>
    <div class="rdp-conteudo">
      <ul class="rdp-menu">
        <li class="rdp-item">
          <a href="../../views/grid-produtos/index.html" class="rdp-links">Produtos</a>
        </li>
        <li class="rdp-item">
          <a href="../../views/sobre-nos/index.html" class="rdp-links">Sobre Nós</a>
        </li>
        <li class="rdp-item">
          <a href="../../views/localizacao/index.html" class="rdp-links">Onde Encontrar</a>
        </li>
        <li class="rdp-item">
          <a href="../../views/fale-conosco/index.html" class="rdp-links">Fale Conosco</a>
        </li>
      </ul>
      <div class="rdp-social-container">
        <h1>Siga-nos</h1>
        <a href="https://www.instagram.com/belattosorvetes/" id="rdp-sm-link"
          ><i class="rdp-sm fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.instagram.com/belattosorvetes/" id="rdp-sm-link"
          ><i class="rdp-sm fa-brands fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com/belattosorvetes/" id="rdp-sm-link"
          ><i class="rdp-sm fa-brands fa-whatsapp"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<div class="rdp-detalhe">
  <p>© 2024 Belatto Sorvetes. Todos os direitos reservados.</p>
  <p>
    Desenvolvido por
    <a href="https://wa.me/5548991155026" id="rdp-detalhe-link">Pedro Paulo</a>
  </p>
</div>
